@use "sass:math";

// Variabel font
$font-stack: 'Verdana', sans-serif;

// Variabler "color functions"
$primary-green: rgb(146, 211, 167);
$light-green: lighten($primary-green, 50%);
$dark-green: darken($primary-green, 50%);

// Variabler färger
$black: #000;
$grey: #1a1a1a;
$white: #ffffff;

// Variabler ljust tema
$primary-bg: $primary-green;
$primary-heading: $dark-green;
$primary-text: $black;

// Variabler mörkt tema
$primary-bg-darkm: $grey;
$primary-heading-darkm: $white;
$primary-text-darkm: $white;
$primary-text-article-darkm: $light-green;

// Mixin
@mixin circle ($width, $height, $color) {
    width: $width;
    height: $height;
    background: $color;
    border-radius: 50%;
}

// If-else sats
@mixin triangle($size, $color, $direction) {

    height: 0px;
    width: 0px;

    border-color: transparent;
    border-style: solid;
    border-width: math.div($size, 2);

    @if $direction ==up {
        border-bottom-color: $color;
    }

    @else if $direction ==down {
        border-top-color: $color;
    }
}